<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script nonce= <%= nonce %> async src="https://www.googletagmanager.com/gtag/js?id=UA-123916120-1"></script>
<script nonce= <%= nonce %>>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-123916120-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="India's premier computer programming Academy based in Ahmedabad. The place to learn Fullstack Javascript with React and NodeJS.">
  <link nonce= <%= nonce %> rel="stylesheet" href="css/reset.css">
  <link nonce= <%= nonce %> href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link nonce= <%= nonce %> href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
  <link nonce= <%= nonce %> rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <link nonce= <%= nonce %> rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link nonce= <%= nonce %> rel="stylesheet" href="css/custom.css">
  <title>
    <%= title %>
  </title>
</head>

<body id="bootstrap-overrides">

  <!--logo and navbar section 
  <div class="container-fluid  nav-hero">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-toggleable-md navbar-light navbar-custom">

      <a class="navbar-brand text-responsive fs-brand" id="navbrand" href="/">
        <img src="./images/fs-logo.jpg" alt="Fullstack logo">
        <span>42 Fullstack Academy</span>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        ☰
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
        <ul class="navbar-nav justify-content-end ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cfp-learning-areas">Learning Areas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cfp-course-content">Course Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#method">Teaching Method</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cfp-footer">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  logo and navbar ends-->
  <!--hero section -->
  <section class="hero-section" id="main-hero-section">
    <div class="container-fluid">
      <h1 class="main-head" id="hero-title">fullstack javascript <strong>solved</strong></h1>
      <div class="row">
        <div class="col-sm-12 col-lg-12 ">
          <div class="hide" id="hero-para">
            <p>Yes! ^500 We really mean that...</p>
            <p>But it requires hardwork, dedication and practice</p>
            <p>It also requires right type of training and mentorship</p>
            <p>We </p>
            <p>in Ahmedabad....</p>
            <p>Join us to upgrade your <em>Engineering</em> Quotient</p>
            <p>with React, Angular and NodeJS.</p>
            <p>Pay after first lecture <span class="smile"><i class="fas fa-grin"></i></span> ^500</p>
            <p>Give us a call to find out more...</p>
          </div>
          <span class="sub-head" id="hero-typed"></span>
          <br>
          <br>
          <br>
        </div>
        <div class= "col-sm-12 hero-space text-center">
          <div class="row">
            <p>|</p>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 main-banner">
          <h6 class="text-center" id="launch-tag"> </h6>
        </div>
        <div class="col-sm-12 col-lg-4 main-banner">
          <h6 class="text-center"> </h6>
        </div>
        <div class="col-sm-12 col-lg-4 main-banner">
          <h6 class="text-center"></h6>
        </div>
        <br>
        <br>
        <div class="form-group text-center col-sm-12">
          <button class="btn btn-primary" id="submit-button">View Syllabus</button>
        </div>
      </div>
    </div>
  </section>
  <!--hero section ends -->
  <!--Floating widget-->
  <div class = "call-widget">
    <div class = "row">
      <div class="col-sm-12">
        <h6 class="text-right">
          <span><i class="fa fa-phone"></i>
            <span> &nbsp;&NonBreakingSpace; </span>
            <b>07575042942</b> </span>
        </h6>
      </div>
    </div>
  </div>
  <!--course content-->
  <section class="course-content-jq container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center cc-title">
    <h3>Fullstack Javascript is the Future</h3>
    </div>
  </div>
  <div class="course-content-container">
      <div class="course-content-frontend">
          <h3>Frontend</h3>
          <p>JQuery</p>
          <p>ReactJS</p>
          <p>AngularJS</p>
      </div>
      <div class="slash-container">
          <div class="slash"> </div>
      </div>
      <div class="course-content-backend">
          <h3>Backend</h3>
          <p>NodeJS</p>
          <p>ExpressJS</p>
          <p>Mongodb</p>
          <p>Postgresql</p>
      </div>
  </div>

</section>
  <!--course content-->
  <!--The slider-->
  <div class="slider container-fluid" id="cfp-learning-areas">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Master Modern Fullstack</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <img class="img-responsive img-rounded img-slider" src="./images/static-assets.svg">
      </div>
      <div class="col-sm-12 col-lg-6 wrap">
        <p class="text-left slider-para">MEAN and MERN stacks (AngularJS and ReactJS) are two highest-in-demand stacks. Fullstack engineers who know one of these stacks are among the highest paid
          professionals today and their demand is increasing because they solve both client-side(frontend) and server-side
          (backend) problems.
          <a class="lttreadmorebtn">Read more</a>
        </p>
        <p id="ltt-para" class="hide">
          It is a must have skill if you want to work for top technology companies like Google, Facebook, Amazon, Uber and Flipkart.
          Learn the art of programming using the latest technologies - Jquery, Node, Express, React, Redux and React-native.
          Our practical-first approach will give you experience and confidence to develop and deploy your apps in production
          environment - just like how experienced professionals would do.
          <a class="lttreadlessbtn"> Read less</a>
        </p>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Learn Modern Tools</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 order-lg-2">
        <img class="img-responsive img-rounded img-slider" src="./images/building-blocks.svg">
      </div>
      <div class="col-sm-12 col-lg-6 order-lg-1">
        <p class="text-left slider-para">All renowned software professionals will swear by the tools that they use for their job- be it editor or version
          control system, dev tools or tools that automate build process.
          <a class="mttreadmorebtn"> Read more</a>
        </p>
        <p id="mtt-para" class="hide">We have carefully selected the tools used by top-notch silicon-valley programmers. Advertise your knowledge of tools
          like Git version control, Vagrant, Nginx reverse-proxy, EJS templating engine, Gulp and Mocha and you're sure to
          stand-out from the crowd. In addition, no software engineering resume is complete without knowledge of Linux. Our
          course has special emphasis on getting required Linux skills - both desktop and server OS versions of Ubuntu. You
          will also learn how professionals setup secure websites on Cloud.
          <a class="mttreadlessbtn"> Read less</a>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">Demonstrate Your Confidence</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <img class="img-responsive img-rounded img-slider" src="./images/in-the-office.svg">
      </div>
      <div class="col-sm-12 col-lg-6">
        <p class="text-left slider-para">Software development is a very competitive place. It is difficult to get a job but it's even more difficult to carve
          out a niche and make a successful career.
          <a class="gtcreadmorebtn"> Read more</a>
        </p>
        <p id="gtc-para" class="hide">Technical skills alone may get you into an entry-level job but to grow and to get promoted, you need soft skills
          such as communication skills, networking skills, job hunting skills and leadership skills. With over 15 years of
          international experience at top multi-national companies across India, South Africa and Europe and MBA degree from
          HEC Paris - let our founder and chief instructor give you some practical tips and fast-track you for success.
          <a class="gtcreadlessbtn"> Read less</a>
        </p>
      </div>
    </div>
  </div>
  <!--slider ends-->
  <!--Course Content-->
  <div class="course-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center" id="cfp-course-content">Course Content</h3>
        </div>
      </div>
      <!--front end course content -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-fe-content" id="cfp-fe-btn">Front End Course Content
            <span class="fa fa-chevron-right" id="cfp-fe-chevdown"></span>
          </button>
        </div>
      </div>
      <div class="cfp-fe-content text-left hide" id="cfp-fe-content-id">
        <div class="row">
          <div class="col-sm-12 col-lg-6" id="cfp-fe-content">
            <h5>Static Website </h5>
            <ul class="list-group">
              <!--<li  >how to setup development environment on your workstation?</li>-->
              <li>How to structure the website?</li>
              <li>How to use various html elements and how to style them using css?</li>
              <li>What is bootstrap4 and how to use it in your website?</li>
              <li>How to enhance bootstrap's functionality?</li>
              <li>What is responsive design and how to make your website responsive?</li>
            </ul>
          </div>
          <div class="cols-sm-12 col-lg-6">
            <h5>Dynamic Website </h5>
            <ul>
              <li>Javascript basics and Document Object Model (DOM)</li>
              <!--<li  >how to make website interactive using javascript</li>-->
              <li>What is JQuery and how to use it to speed up development? - Animations, Ajax and UI</li>
              <li>What is Reactjs/AngularJS and how it is different from other frontend frameworks and libraries</li>
              <li>How to create single page apps using React?</li>
              <li>How to create CRUD app with AngularJS & ReactJS</li>
              <li>Create Android and iOS apps using React-Native</li>
            </ul>
          </div>
        </div>
      </div>
      <!--front-end content ends -->
      <!--back-end course content -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-be-content" id="cfp-be-btn">Back End Course Content
            <span class="fa fa-chevron-right" id="cfp-be-chevdown"></span>
          </button>
        </div>
      </div>
      <div class="cfp-be-content text-left hide" id="cfp-be-content-id">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="text-center">Server-side Javascript and Networking for Web</h5>
            <ul>
              <li>What happens on Server? http request/response verbs</li>
              <li>Asynchronous programming using Nodejs and Javascript</li>
              <li>Introduction to database and sql using Postgresql</li>
              <li>Introduction to NoSQL database using Mongodb</li>
              <li>What are web frameworks? Introduction to Express framework</li>
              <li>How to create a CRUD Webapp using Express</li>
              <li>How to connect to and update database using Express?</li>
              <li>What is MVC architecture? How to compare pure templates like EJS with AngularJS?</li>
              <li>How to create RESTful APIs using Express Router</li>
              <li>How to access third-party APIs? How to create & expose your own APIs?</li>
            </ul>
          </div>
        </div>
      </div>

      <!--backend course content ends -->
      <!-- soft skills course content -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-sf-content" id="cfp-sf-btn">Dev Tools and Career Progression
            <span class="fa fa-chevron-right" id="cfp-sf-chevdown"></span>
          </button>
        </div>
      </div>
      <div class="cfp-sf-content text-left hide" id="cfp-sf-content-id">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <h5>Professional Tools</h5>
            <ul>
              <li>Modern editors and how to customize them</li>
              <li>Git version control system - using Github</li>
              <li>Build tools - Webpack, Gulpjs</li>
              <li>How to setup Linux Server OS for cloud hosting of your website</li>
              <li>How to configure Nginx with NodeJS and take advantage of multiple-core processors</li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-6">
            <h5>Career in Tech</h5>
            <ul>
              <li>How to create your CV? what to emphasize?</li>
              <li>How to improve your chances of being picked by a large technology company?</li>
              <li>How to create a professional linkedin profile?</li>
              <li>Communication and networking skills for software engineers</li>
              <li>Interview preparation and salary negotiation at large companies</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- soft skills course content ends-->
      <div>
        <br>
      </div>
    </div>
  </div>
  <!--Course Content Ends-->
  <!--Facilitator profile-->
  <section class="facilitator-profile">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="cfp-profile-title text-center">
            <h3>Our Lead Instructor</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="cfp-image-wrapper text-center">
            <div class="cfp-profile-image">
              <img src="./images/facilitator-2.jpg" alt="founder image" class="img-thumbnail rounded-circle">
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="cfp-profile-name text-left">
            <h5>Rudresh Pandya</h5>
            <p>Rudresh is a Computer Engineer from Mumbai University and MBA from HEC Paris. He has around 15 years of experience
              in Computer Software Industry. He has lived and worked across Asia, Africa and Europe and has executed complex,
              large-scale software projects as Software Engineer, Team Lead and Solution Architect. Most recently he was
              a Senior Manager at Accenture, Johannesburg where he led the engineering team to implement Digital Channels
              for a large European bank across African continent. He is a tech enthusiast with a passion for learning and
              teaching technology. In his free time he enjoys reading, playing chess and of course - coding!
            </p>
            <p>Join us to gain from his immense international experience to learn not just about technology but also about the
              tech industry and how to grow your career.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!--Facilitator profile-->
  <hr>
  <!--Teaching Method-->
  <section id="method" class="teaching-method">
    <div class="container-fluid">
      <!--title-->
      <div class="row">
        <div class="col-sm-12">
          <div class="cfp-teach-title text-center">
            <h3>Our Unique Approach to Learning</h3>
            <p>Our objective is that our learners should be able to conceive, develop and launch a world-class application be
              it a website, mobile app or both by the end of the course. Our
              <strong>practical-first</strong> approach means that learners will learn by doing.</p>
          </div>
        </div>
      </div>
      <!--title-->
      <!--method cards-->
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="method-container text-center">
            <div class="method-title">
              <h5>Practical First</h5>
              <img src="./images/practical-first-1.svg" alt="practical first image" class="img-fluid rounded">
            </div>
            <div class="method-details">
              <p>We strongly believe that the best learning happens when learners
                <em>implement</em> concepts. Hence we have developed our course on
                <strong>practical-first</strong> approach. At 42fs all learning is based on real world implementation - like developing
                a secured Payments API or creating a Normalized Database.
                <strong>Our classroom is the office.</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="method-container text-center">
            <div class="method-title">
              <h5>The Silicon Valley Way</h5>
              <img src="./images/silicon-valley.svg" alt="practical first image" class="img-fluid rounded">
            </div>
            <div class="method-details">
              <p>We believe in training people to be the best in business - that means learning how the finest programmers think
                of solving a problem. While programming is as much an art as a science, there are some common best-practices
                that have a direct impact on quality of your program. It's a bit like
                <strong>learning how to run vs learning how professional athletes approach running</strong>...Makes a big difference!!!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="method-container text-center">
            <div class="method-title">
              <h5>Incremental Learning</h5>
              <img src="./images/innovative-design.svg" alt="practical first image" class="img-fluid rounded">
            </div>
            <div class="method-details">
              <p>We have carefully put-together an incremental set of exercises that are linked to each concept. Each concept
                builds on top of another one that results in integrated learning. This is also the problem solving approach
                that is used by almost all modern companies such as Google and Facebook.
                <strong>Each exercise is linked to the big-picture and solves a real-world problem.
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--method cards-->
    </div>
  </section>
  <!--Teaching Method-->
  <hr>
  <div class="interest">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h6>
            <em>Interested? Please provide your contact details and we'll contact you with more information</em>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <!--Form Group-->
  <div class="form-group container" id="cfp-contact-details">
    <div class=" row">
      <h3 class="col-sm-12 text-center">
        Contact Form
      </h3>
      <form id="contactForm" role="form" method="post" action="/">
        <div class="form-element col-sm-12 text-left">
          <label for="input-name">Name</label>
          <input type="text" class="form-control" id="input-name" name="name" autocomplete="off" placeholder="Enter Name">
        </div>
        <div class=" form-element col-sm-12 text-left">
          <label for="input-email">Email</label>
          <input type="email" class="form-control" id="input-email" name="email" autocomplete="off" placeholder="Enter Email">
        </div>
        <div class="form-element col-sm-12 text-left">
          <label for="input-phone">Contact Number</label>
          <input type="text" class="form-control" id="input-phone" name="contactno" autocomplete="off" placeholder="Enter Contact Number">
        </div>
        <div class="form-element col-sm-12">
          <label for="batch-select">View Available Batches</label>
          <br>
          <br>
          <select id="batch-select" class="batch-selector" title="Select a batch to enroll" name="batch" autocomplete="off">
          <optgroup label="Javascript Basics: Mon-to-Thu">
              <option value="10">October 2018</option>
            </optgroup>  
          <optgroup label="Fullstack Web: MERN & PERN stacks">
              <option value="1">October-November 2018</option>
            </optgroup>
            <optgroup label="Fullstack Web: MEAN & PEAN stacks">
              <option value="2">October-November 2018</option>
            </optgroup>
          </select>
          <small>Maximum 10 students per batch</small>
        </div>
        <div class="col-sm-12 cfp-submit-btn text-center">
          <button class="btn cfp-btn-submit" id="cfp-submit-form" type="submit" value="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class='alert-modal'>
    <!-- Modal -->
    <div id="alertModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thank You</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

          </div>
          <div class="modal-body">
            <p id='alert-msg'></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--Form Group Ends-->
<hr>
  <!-- FAQ section -->
  <section class="faq" id="faqs">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="col-sm-12 text-center">
            FAQs
          </h3>
        </div>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: How is 42fs different from other academies?
        </p>
        <p class="answer">
          A: The main difference is our
          <strong>practical-first</strong> approach. So, this is more like an industrial-grade training you'd receive at a large
          software company. Take HTML form for example, we don't just show how to create it - there are many online videos
          doing that - we also show how to best style the form with design considerations, how to guide users with validations,
          how to make it safe from SQL injections and XSS attacks and finally how to interact with the back-end. Other features
          include:
          </p>
          <div class=answer-list>
          <ul>
            <li>End-to-end coverage - from basic HTML to complete MEAN/MERN or PEAN/PERN stacks</li>
            <li>Practical problem solving exercises</li>
            <li>Dedicated Linux PC for each learner</li>
            <li>Professional development environment set-up</li>
            <li>Very competitive pricing for the course curriculum</li>
          </ul>
          </div>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: What is Fullstack?
        </p>
        <p class="answer">
          A: In software technology, a stack is a set of different technologies that engineers select for a particular project or problem. For example, in web development, a stack comprises of front-end technology, back-end technology, web server, database, server operating system and numerous other technologies. There could be <em>front-end stack</em>, <em>back-end stack</em> etc.. <strong>Fullstack</strong> then means a stack that covers both front-end and back-end technologies. Over a period of time, some stacks become more popular than others for various reasons. One of the most famous stacks for web development is a LAMP stack which stands for Linux, Apache, MySQL and PHP. MEAN (Mongodb, Express, Angular & NodeJS) stack is a popular stack based on Javascript technologies. We have selected both <strong>MERN & MEAN</strong> (React or Angular) stacks because demand for React/Angular is increasing faster. Additionally, knowledge of SQL is important for solving all relational-structure-based problems and hence we have included Postgresql database (PERN/PEAN stack).
        </p>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Why Javascript? Why ReactJS, AngularJS and NodeJS?
        </p>
        <p class="answer">
          A: We are currently living through a Javascript revolution in web-development. Javascript has always been default language for all browsers....Libraries such as <strong>JQuery</strong>, provide a lot of power to front-end developers. The current revolution in web technologies is lead by <strong>React & Angular</strong> and by <strong>NodeJS</strong> which brings the power and speed of asynchronous processing to server-side. To put it bluntly, you <em>have</em> to know <strong>Javascript</strong> for a career in modern web-development. Angular, React and Node ecosystems are three of the fastest growing eco-systems on the planet with a huge army of contributing developers. Btw, this is not a discussion about distant future. <strong>That future is already here</strong>.
        </p>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Will I learn new ES2015 stuff?
        </p>
        <p class="answer">
          A: In a word, Yes. Many of you know that ES2015 (also called ES6) introduced some key changes to Javascript language. These include "promises", "arrow functions", "Classes", block scoping using "let", constants using "const" and many more. Our course is designed to implement concepts using this ES2015 syntax. Most importantly though, we also teach what was being done with earlier versions of Javascript - and then explain "why" these new concepts were introduced. For example, how promises aim to overcome problems with callbacks such as callback-hell.
        </p>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Who is eligible to enroll?
        </p>
        <p class="answer">
          A: While it is better if you have some prior programming knowledge, it is not mandatory if you're willing to work hard and
          learn. Absolute beginners may need to do some preparation prior to the course. Please
          <a href="#cfp-footer">contact us</a> if you would like more details. Following are some types of learners who can benefit:
        </p>
        <div class="answer-list">
        <ul>
          <li>Students currently pursuing degree in BSc, BCA, MCA, BE or other disciplines</li>
          <li>Freshers who are looking to launch their career with new-age skills in programming</li>
          <li>Experienced professionals looking to upgrade their Javascript knowledge</li>
          <li>Testers, Graphic Designers and others looking to make a switch to a programming career</li>
          <li>Knowledge of basic TypeScript is required for AngularJS learners.</li>
        </ul>
      </div>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Are there any other courses offered by 42fs? Can we take just a part of the course?
        </p>
        <p class="answer">
          A: Currently, we offer only two courses - Fullstack development with Javascript using NodeJS and ReactJS or AngularJS. We have carefully designed these courses to offer a complete package required for our learners.
        </p>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: How will this course help me?
        </p>
        <p class="answer">
          A: In essence, this course will give you the confidence that you have the skills required by large software companies. Here, you
          will get the necessary skills to: </p>
          <div class="answer-list">
          <ul>
            <li>Execute fairly complex projects</li>
            <li>Face interviews at large software firms</li>
            <li>Master Javascript - <strong>the language</strong> of the modern web</li>
          </ul>
        </div>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Do you provide job guarantees?
        </p>
        <p class="answer">
          A: Our aim is to prepare learners for jobs at large software companies and hence there is no job-guarantee. Having said that, we are constantly speaking to local software companies and hope to help our learners to secure jobs with these companies. Also,
          </p>
          <div class="answer-list">
          <ul>
            <li>We provide training on how to get interview with large companies</li>
            <li>Train you on how to face your interviews</li>
            <li>Provide one-on-one guidance on how to prepare when you get an interview call - even after course is completed</li>
          </ul>
        </div>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Will I get a certificate?
        </p>
        <p class="answer">
          A: Yes, you will get a certificate on completion of the course but the biggest achievement will be your confidence and understanding.
        </p>
      </div>
      <div class="qa-container">
      <p class="question">
        Q: First lecture free?
      </p>
      <p class="answer">
        A: Yup! Secure your admission now and pay your fees after attending first lecture.
      </p>
    </div>

      <div class="qa-container">
        <p class="question">
          Q: How much commitment is required? What is the split between theory and practical?
        </p>
        <p class="answer">
          A: Please try to show up for all classes. More than 80% of the class is practical oriented. Any additional practice will ofcourse be beneficial to you.
        </p>
      </div>
      <div class="qa-container">
        <p class="question">
          Q: Why 42?
        </p>
        <p class="answer">
          A: Nice Question :). Google this - "answer to the ultimate question of life, the universe, and everything"
        </p>
      </div>
    </div>
  </section>
  <!-- FAQ section -->

  <!--Footer starts -->
  <footer>
    <div class="container-fluid">
      <div class="row text-center" id="cfp-footer">
        <div class="col-sm-12 col-md-4" id="cfp-contact-foo">
          <h6>Contact Us</h6>
          <hr>
          <p>
            <i class="fa fa-phone"></i>
            <span> &nbsp;&NonBreakingSpace; </span>+91-75750 42942</p>
          <a href='mailto:enroll@42fullstack.in?subject=Batch%20Inquiry'>
            <i class="fa fa-envelope" id="cfp-contact-foo-mail"></i>
            <span> &nbsp;&nbsp;</span>
            <span>enroll@42fullstack.in</span>
          </a>
          <br>
          <a href='https://goo.gl/maps/TQP1RErrfTp'>
            <i class="fa fa-building"></i>
            <span> &nbsp;&nbsp;</span>
            <span>42 Fullstack Academy</span>
          </a>
          <br>
          <span>G110,</span>
          <span>&nbsp;</span>
          <span>Titanium City Centre,</span>
          <p>Anandnagar,</span>
            <span>&nbsp;</span>
            <span>Ahmedabad - 380051</p>
        </div>
        <div class="col-sm-12 col-md-4" id="cfp-hours-foo">
          <h6>Operating Hours</h6>
          <hr>
          <p>Mon-Sat: 7:30AM to 8:30PM</p>
          <p>Sun: Closed</p>
        </div>
        <div class="col-sm-12 col-md-4" id="cfp-social-foo">
          <h6>Social</h6>
          <hr>
          <a href="https://facebook.com">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://twitter.com">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a href="https://googleplus.com">
            <i class="fab fa-google-plus-square"></i>
          </a>
          <a href="https://instagram.com">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="col-12">
          <hr>
          <h6>&copy; 42fullstack.in</h6>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer ends -->
  <!--load bootstrap compiled js, jquery and popper js. may change cdn later -->
  <script nonce= <%= nonce %> src = "https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  <script nonce= <%= nonce %> src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" ></script>
  <script nonce= <%= nonce %> src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin = "anonymous" ></script>
  <script nonce= <%= nonce %> src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js" ></script>
  <script nonce= <%= nonce %> src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js" ></script>
  <script nonce= <%= nonce %> src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.2.2/dist/jquery.form.min.js" integrity = "sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
    crossorigin = "anonymous" ></script>
  <script nonce= <%= nonce %> src="./lib/bootstrap-select-1.13.0/js/bootstrap-select.min.js" ></script>
  <script nonce= <%= nonce %> src="./lib/modernizr-custom.js" ></script>
  <script nonce= <%= nonce %> src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script nonce= <%= nonce %> src="js/custom.js" ></script>
</body>

</html>